@tailwind base;
  @tailwind components;
  @tailwind utilities;

  body{
    position: relative;
    height: 100vh;
  }
  #hero{
    background-image: url('assets/hero2.jpg');
    background-position: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 30px;
    height: 75vh;
  }
  #hero1{
    background-image: url('assets/hero3.png');
    background-position: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 30px;
    height: 75vh;
  }
  #hero2{
    background-image: url('assets/hero4.jpg');
    background-position: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 30px;
    height: 75vh;
  }
  #hero3{
    background-image: url('assets/hero5.jpg');
    background-position: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 30px;
    height: 75vh;
  }
  #about{
    background-image: url('assets/about.jpeg');
    background-position: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 30px;
    height: 75vh;
  }
  @media  screen and (min-width: 0px) and (max-width: 474px) {
   
    #hero ,#hero1 ,#hero2, #hero3 {
      height: 50vh;
    }
  }
  @media  screen and (min-width: 475px) and (max-width: 564px) {
   
    #hero ,#hero1 ,#hero2, #hero3 {
      height: 65vh;
    }
  }
  @media  screen and (min-width: 565px) and (max-width: 849px){
   
    #hero ,#hero1 ,#hero2, #hero3 {
      height: 70vh;
    }
  }
  /* @media  screen and (max-width: 720px) {
   
    #hero ,#hero1 ,#hero2, #hero3 {
      height: 55vh;
    }
  } */
  @media  screen and (min-width: 850px) {
   
    #hero ,#hero1 ,#hero2, #hero3 {
      height: 75vh;
    }
  }
  #collection{
    mask-image: linear-gradient(black, transparent) ;
    mask-size: contain;
  }
  #hours{
    mask-image: url("assets/mask-10.svg");
    mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: center;
  }
   .scroller {
    overflow:hidden;
    mask: linear-gradient(90deg, transparent, black 10%, black 90%, transparent);
  }

  @layer base {
    :root {
      --background: 0 0% 100%;
      --foreground: 20 14.3% 4.1%;

      --card: 0 0% 100%;
      --card-foreground: 20 14.3% 4.1%;

      --popover: 0 0% 100%;
      --popover-foreground: 20 14.3% 4.1%;

      --primary: 24 9.8% 10%;
      --primary-foreground: 60 9.1% 97.8%;

      --secondary: 60 4.8% 95.9%;
      --secondary-foreground: 24 9.8% 10%;

      --muted: 60 4.8% 95.9%;
      --muted-foreground: 25 5.3% 44.7%;

      --accent: 60 4.8% 95.9%;
      --accent-foreground: 24 9.8% 10%;

      --destructive: 0 84.2% 60.2%;
      --destructive-foreground: 60 9.1% 97.8%;

      --border: 20 5.9% 90%;
      --input: 20 5.9% 90%;
      --ring: 20 14.3% 4.1%;

      --radius: 0.5rem;
    }

    .dark {
      --background: 20 14.3% 4.1%;
      --foreground: 60 9.1% 97.8%;

      --card: 20 14.3% 4.1%;
      --card-foreground: 60 9.1% 97.8%;

      --popover: 20 14.3% 4.1%;
      --popover-foreground: 60 9.1% 97.8%;

      --primary: 60 9.1% 97.8%;
      --primary-foreground: 24 9.8% 10%;

      --secondary: 12 6.5% 15.1%;
      --secondary-foreground: 60 9.1% 97.8%;

      --muted: 12 6.5% 15.1%;
      --muted-foreground: 24 5.4% 63.9%;

      --accent: 12 6.5% 15.1%;
      --accent-foreground: 60 9.1% 97.8%;

      --destructive: 0 62.8% 30.6%;
      --destructive-foreground: 60 9.1% 97.8%;

      --border: 12 6.5% 15.1%;
      --input: 12 6.5% 15.1%;
      --ring: 24 5.7% 82.9%;
    }
  }

  @layer base {
    * {
      @apply border-border;
    }
    body {
      @apply bg-background text-foreground;
    }
  }
